/* Global styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #255BEC;
    --main-font: "JetBrains Mono", serif;
    --secondary-font: "Nunito Sans", serif;
}
.second-headings{
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 3rem;
}
.second-headings-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.second-paragraphs{
    font-size: 1rem;
    font-family: var(--main-font);
    color: rgb(24, 23, 23);
    font-weight: 500;
}
.our-fleet-item-img{
    width: 100%;
    height: 100%;
}
/* end of Global styling */
/* Header styling */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0.5rem;
    flex-wrap: wrap;
}
header #logo{
    font-family: "Megrim", serif;
    font-weight: bold;
    font-size: 3rem;
    font-style: normal; 
}
header nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}
header nav ul li:nth-of-type(even){
    margin: 0 2rem;
}
header nav ul li a{
    text-decoration: none;
    color: #4d4b4b;
    font-family: "JetBrains Mono", serif;
    font-weight: bold;
}
header nav ul li a.active{
    color: #000000;
}
header nav ul li a:hover{
    color: #000000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    scale: 1.1;
}
/* end of Header styling */


/* banner styling */

main .banner{
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 650px;
    border-image: fill 1 linear-gradient(#ffffff88, #02020288);
    border-radius: 20px;
    padding: 1rem;
    background-image: url(assets/img/home-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
main .banner-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main .banner-content .banner-title{
    font-size: 6rem;
    font-family: "Nunito Sans", serif;
    text-align: center;
}
main .banner-content p{
    font-size: 1rem;
    font-family: "JetBrains Mono", serif;
    text-align: center;
}
main .banner-content .banner-button{
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    font-size: 1.2rem;
}
main .banner-content .banner-button:hover{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    scale: 1.1;
}
/* main .banner-content .banner-form{
    
} */
main .banner-form form{
    position: absolute;
    right: 200px;
    bottom: 25px;
    width: 330px;
    height: 300px;
    padding: 1.3rem;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
    font-family: var(--main-font);
}

main .banner-form .form-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
main .banner-form .form-header button{
    background-color: var(--primary-color);
    border: none;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    font-weight: bold;
    font-family: var(--main-font);
}
main .banner-form .form-header p:nth-of-type(2){
    border-left: 2px solid black;
    padding-left: 1rem;
}
main .banner-form .form-content input{
    width: 100%;
    height: 30px;
    margin-top: 0.4rem;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: rgb(230, 230, 230);
    padding-left: 0.3rem;
}
main .banner-form .form-content input#pick-time{
    width: 150px;
    /* margin-left: 1.3rem; */
}
main .banner-form .form-content .pick-time-label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: rgb(11, 11, 11);
}
main .banner-form .form-content .pick-time-label label{
    vertical-align: middle;
    font-size: 0.9rem;
}
main .banner-form .banner-form-button{
    background-color: black;
    text-align: center;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;
    letter-spacing: 1px;
}
main .banner-form .banner-form-button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}
/* end of banner */
/* MAIN CONTAINER styling */

#main-container{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}

/* services */

.services-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 500px);
    /* grid-template-rows: 200px 200px; */
    gap: 1.5rem;
    margin-top: 1rem;
    place-items: center;
}
.services-content .service-card{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(159, 152, 152, 0.168);
    border-radius: 10px;
    gap: 0.5rem;
}
.services-content .service-card .service-card-content{
    display: flex;
    flex-direction: column;
    margin-top: 0.3rem;
    margin-left: 0.3rem;
    height: 100%;
}
.services-content .service-card h3{
    font-family: var(--secondary-font);
    font-size: 1.5rem;
}
.services-content .service-card p{
    font-family: var(--main-font);
    font-size: 0.8rem;
    text-align: left;
    margin: 0.5rem 0;
}
.services-content .service-card button{
    width: 100px;
    height: 25px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    justify-self: flex-end;
}
.services-content .service-card button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    transition: all 0.3s ease-in-out;
}
.services-content img{
    width: 250px;
    height: 95%;
    border-radius: 10px;
    margin: 0.3rem;
    box-sizing: border-box;
}
/* end of services */
/* our fleet */
.our-fleet-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-fleet-navbar ul{
    margin: 1rem 0;
    margin-top: 1.5rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.our-fleet-navbar ul li{
    padding: 0.3rem 1rem;
    font-weight: bold;
    font-family: var(--secondary-font); 
}
.our-fleet-navbar ul li.active{
    background-color: var(--primary-color);
    border-radius: 5px;
}
.our-fleet-navbar ul li:nth-of-type(3){
    border-left: 2px solid black;
    border-right: 2px solid black;
}
#our-fleet .our-fleet-content-container{
  margin: 1rem;  
  display: flex;
  /* justify-content: center;
  align-items: center; */
  gap: 1.4rem;
  max-width: 90vw;
  overflow-x: scroll;
  padding: 1rem;
}
#our-fleet .our-fleet-content-container::-webkit-scrollbar{
    height: 12px;
}
#our-fleet .our-fleet-content-container::-webkit-scrollbar-track{
    background-color: #00000062;
    border-radius: 12px;  
}
#our-fleet .our-fleet-content-container::-webkit-scrollbar-thumb{
    background-color: #000000d3;
    border-radius: 12px;  
}
#our-fleet .our-fleet-content-container .our-fleet-img-box{
    width: 400px;
    height: 250px;
    background-color: #a2a0a082;
    border-radius: 10px;
}
#our-fleet .our-fleet-content-container .our-fleet-item-title{
    font-family: var(--secondary-font);
    font-weight: bold;
    margin-top: 0.5rem;
    font-size: 1.3rem;
}
#our-fleet .our-fleet-content-container .our-fleet-item-icons-box{
    display: flex;
    gap: 0.5rem;
}
#our-fleet .our-fleet-content-container .our-fleet-item-icon-box{
    background-color: #a2a0a082;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
}
.our-fleet-item-icon-box img{
    width: 20px;
    height: 20px;
}
.our-fleet-item-icon-box span{
    font-size: 1rem;
    vertical-align: middle;
    font-weight: bold;
    font-family: var(--secondary-font);
    margin-left: 0.1rem;
}
/* responsive */
/* Mobile */
@media screen and (max-width: 480px) {
    main .banner{
        width: 430px;
        height: 450px;
        margin:0;
    }
    main .banner-content .banner-title{
        font-size: 4rem;
    }
    main .banner-content p{
        color: white;
        font-size: 1.2rem;
    }
    main .banner-content .banner-button{
        margin-top: 1.5rem;
        padding: 0.5rem;
        font-size: 1.5rem;
    }
    #main-container{
        margin: 0;
        width: 350px;
    }
    #main-container #services .services-header{
        width: 350px;
    }
    #services{
        width: 350px;
        margin: 0;
    }
    .services-content{
        width: 350px;
        grid-template-columns: 350px;
    }
    .services-content .service-card{
        width: 350px;
        height: 100%;
        flex-direction: column;
        margin: 1rem;
        padding: 0.3rem;
    }
    .services-content img{
        width:100%;
        margin: 0;
    }
    .services-content .service-card p{
        font-family: var(--main-font);
        font-size: 0.8rem;
        text-align: center;
        margin:0;
    }
    #our-fleet .our-fleet-content-container .our-fleet-img-box{
        width: 300px;
    }
    #our-fleet .our-fleet-content-container{
        max-width: 390px;
        margin: 0.1rem;
    }
}
/* Tablet */
@media screen and (max-width: 885px){
    .banner-form{
        display: none !important;
    }
}
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }
    header nav ul {
        flex-direction: column;
        text-align: center;
        gap: 5px;
        margin-bottom: 0.5rem;
    }
    header nav ul li{
        margin: 0;
    }
    .profile-box{
        display: none;
    }
    main .banner{
        height: 500px; 
    }
    .second-headings{
        font-size: 2rem;
    }
    #main-container{
        margin: 2rem 1rem;
    }
    .second-headings-box{
        flex-direction: column;
        gap: 1rem;
    }
    .second-paragraphs{
        text-align: center;
    }
    .services-content .service-card{
        margin: 1rem 0;
    }
   
}
/* Desktop */
@media screen and (max-width: 1050px) {
    .services-content{
        grid-template-columns: 500px;
        /* grid-template-rows: repeat(4, 300px); */
        gap: 0.5rem;
        place-content: center;
    }
}


/* notes 

# Mobile
only screen and (min-width: 480px)

# Tablet
only screen and (min-width: 768px) 

# Desktop
only screen and (min-width: 992px)

# Huge
only screen and (min-width: 1280px) 
Or:

# Phone
only screen and (max-width:320px)

# Tablet
only screen and (min-width:321px) and (max-width:768px)

# Desktop
only screen and (min-width:769px)

*/
